<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      Sort by:
		  <select ng-model="orderProp">
  			<option value="title">title</option>
  			<option value="order">badness</option>
		  </select>

    </div>
    <div class="col-md-5">
      <!--Body content-->

      <ul ng-controller="View3Ctrl" class="phones">
        <li ng-repeat="painting in paintings | filter:collection  | orderBy:orderProp " class="thumbnail">
    	    <a href="#/view4/{{panting.id}}" class="thumb">
          <img ng-src="{{painting.imageUrl}}"></a>
          <a href="#/view4/{{painting.id}}">{{painting.title}}</a>
      		<p>{{painting.artist}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>