<?xml version='1.0' encoding='utf-8'?>
<widget id="com.curchod.mitch" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mitch</name>
    <description>A game about collecting art.</description>
    <author email="timofeyc@hotmail.com" href="https://github.com/timofeysie">Timothy Curchod</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="landscape" />
</widget>
